.search {
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  min-width: 90%;
  .searchInput {
    background-color: #eeeeee;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    max-width: 420px;
    height: 48px;
  }
  .searchButton {
    background-color: #eb0c0c;
    width: 82px;
    color: white;
    border: none;
    border-radius: 12px;
    min-height: 48px;
    &:active {
      transform: translateY(1px);
    }

    &:hover {
      background-color: #c30000;
    }
  }
}
.search--resetPosition {
  justify-content: flex-start;
  align-items: flex-start;
  min-height: auto;
}
@media (min-width: 500px) {
  .search {
    min-width: 500px;
  }
}
